.warning{
    color: red
}

.button {
    margin-left: 10px;
    background-color: gray;
    border: none;
}

.user_guesses {
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
}

#input-box {
    width: 255px;
}